/* Apply custom borders to the table */
.custom-table th, .custom-table td {
    border: 2px solid rgba(0, 0, 0, 0.1); 
  }
  
  .custom-table {
    border: 2px solid rgba(0, 0, 0, 0.3); 
  }

  .center-text {
    text-align: center;  
    margin: 0 auto;  
  }
  